.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 2rem;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  color: inherit;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  width: 100%;
}

.cardElement {
  margin-left: 1rem;
  float: left;
}

.pushRight {
  margin-left: auto;
  margin-right: 1rem;
}

.cardInput {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  width: 100%;
  font-size: 1.25rem;
}

.remove {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  min-height: 28pt;
  align-self: center;
}

.cardInput::placeholder {
  font-style: italic;
}

.cardForm {
  width: 85%;
}

.card p {
  font-size: 1.25rem;
}
